html,
body {
	height: 100%;
	font-size: 1px;
}

* {
	padding: 0;
	margin: 0;
	outline: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	font-size: 16rem;
	overflow-x: hidden;
}

a {
	color: #fff;
	text-decoration: none;
}

.container {
	max-width: 1280px;
	margin-inline: auto;
	padding-left: 56rem;
	padding-right: 56rem;
}

img {
	max-width: 100%;
}